@font-face {
    font-family: ja-jp;
    src: url(../static/content/font/ja-jp.ttf);
}

canvas {
    background-image: url(../static/content/images/backgroundReference.png);
    display: block;
    max-width: 100%;
    max-height: 100%;
}